.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin: 5% 0; 
}

.post-card {
    border-radius: 10px !important;
    box-shadow: 1px 1px 10px 1px !important;
    background-color: #f9f9f9 !important;
    color: #333 !important; 
    height: 90%;
    margin: 5% 5%;
    padding: 2% 4%;
}

.post-card:hover {
    transition: transform 0.2s, box-shadow 0.2s;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.link{
    text-decoration: none !important;
}
.title-date, .votes, .coments {
    color: #333 !important; 
}
.img {
    width: 100% !important;
    border: 1px solid !important;
    border-color: #ddd !important;
    border-radius: 10px;
}

@media screen and (max-width: 1150px) {
    .card-grid {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 770px) {
    .card-grid {
        grid-template-columns: 100%;
    }
}
