.login{ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 10px grey; */
    padding: 20px;
    margin: auto 10%;
}
.login h1 {
  color: white;
  font-size: 2rem;
  /* margin: 5px auto; */
  /* padding: 10px; */
  padding-bottom: 0;
  border-bottom: 1px solid rgb(253, 247, 236);
}
.login p{
  text-align: justify;
}
.login p,ul{
  padding: 10px;
  margin: 10px auto;
  color: white;
  font-size: 1.2em;
  align-self: self-start;
}
.login li{
  margin-left: 10px;
}
.login button {
  color: rgb(251, 250, 248);
  border-radius: 8px;
  margin: 10% 10px;
  border: 1px solid currentColor;
  padding: 0.8em 1.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #342f2f;
  cursor: pointer;
  box-shadow: 3px 4px 10px 1px grey;
  transition: border-color 0.25s;
}
.login button:hover {
  border-color: #646cff;
  color: #1a1a1a;
  transform: scale(1.1);
  background-color: rgb(247, 174, 78);
  transition: backgroud-color 1s ease, transform 1s ease;
}
