.navbar {
  margin-bottom: 10px;
  background-color: #f0f0f0 !important; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navbar h4 {
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.filter-section, .sort-section, .order-section {
  flex: 1;
  margin-right: 20px; 
}

.filter-section:last-child, .sort-section:last-child, .order-section:last-child {
  margin-right: 0; 
}

.filter-item, .sort-item, .order-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filter-item input, .sort-item input, .order-item input {
  margin-right: 5px;
}

.filter-item label, .sort-item label, .order-item label {
  color: #333;
  font-weight: bold;
}

.apply-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-self: center;
}

.apply-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

@media (max-width: 450px) {
  .input-row {
    flex-direction: column;
  }

  .filter-section, .sort-section, .order-section {
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .apply-button {
    margin-top: 10px;
  }
}
