
.title{
    text-align: left;
}
h3{
    text-align: left;
    color: azure;
    font-size: smaller;
    text-decoration: underline;
}
.comments {
    border: 1px snow;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
    /* padding: 15px; */
}
.comment {
    border-bottom: 1px solid #ccc;
    padding: 0px;
    text-align:justify;
}
.individualCommentBox {
    margin: 1% 0;
}
.individualCommentBox:hover {
    background-color: rgb(228, 228, 228);
    color: black;
    border-color: rgb(255, 162, 0);
}
.viewHideComments,a {
    text-align: left;
    font-size: 0.8rem;
    cursor: pointer;
    color:#ccc
}
.viewHideComments:hover{
    color: white;
}
.remove-pointer{
    cursor: default;
}
.commentIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.editDelete, .likeDislike {
    display: flex;
    align-items: center;
    padding: 0% 1%;
    
}
.editDisallow,.trashDisallow,.editAllow,.trashAllow,.like,.dislike {
    margin: 0 12%;
}
.trashAllow:hover{
    color: red;
    cursor: pointer;
}
.trashDisallow:hover{
    cursor: not-allowed;
    opacity: 0.5;
}
.editAllow:hover{
    color: rgb(103, 134, 248);
}
.editDisallow:hover{
    cursor: not-allowed;
    opacity: 0.5;
}
